/* ESTILOS GERAIS */

body{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.btn{
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.btn:hover{
  color: white;
  border-color: white;
}

.subtitulo{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 8px auto;
}
.btn{
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.btn:hover{
  color: white;
  border-color: white;
}

.btn.btn-preto:hover{
  color: black;
  border-color: black;
}

/* HEADER ----------------------------------------------------- */

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background:#fec63e;
  padding: 15px 0px;
  z-index: 10;
}

.header_menu{
  text-align: right;
}

.header_menu ul li{
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.header_menu ul li a{
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 5px; /*ÁREA DE CONTATO */
}

.header_menu ul li a:hover{
  color: white;
}

/* INTRODUÇÃO ----------------------------------------------------- */

.introducao{
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1{
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo{
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: white;
}

.quote-externo p{
  font-style: italic;
}

.quote-externo p::before, .quote-externo p::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 14px auto 10px auto;
}

.quote-externo cite{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/* INTRO INTERNA ------------------------------------------------ */
.introducao-interna{
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.introducao-interna h1{
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 6px auto 10px auto;
}

/* PRODUTOS ----------------------------------------------------- */

.produtos{
  padding: 60px 0;
}

.produtos-lista li{
  background: #fec63e;
  text-align: center;
}

.produtos-lista li h3{
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.produtos-lista li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 2px auto;
}

.produtos-lista li p{
  padding: 10px 20px 20px 10px;
}

.produtos-icon{
  background: black;
  padding: 20px;
}

.call{
  text-align: center;
  padding-top: 40px;
  clear: both; /*Pq os outros elementos da lista estão em float */
}

.call p{
  padding-bottom: 20px;
}

/* PORTIFÓLIO ----------------------------------------------------- */

.portfolio{
  width: 100%;
  background: black;
  padding: 40px 0;
}

.portfolio .subtitulo{
  color: #fec63e;
}
.portfolio .subtitulo::after{
  background: #fec63e;
}

.portfolio-lista li:last-child{
  margin-top: 20px;
}

.portfolio .call p{
  color: white;
}

/* QUALIDADE ----------------------------------------------------- */
.qualidade{
  padding: 60px 0;
}

.qualidade::after{
  content: '';
  width: 634px;
  height: 83px;
  display: block;
  background: url('../img/linhas.svg') no-repeat center;
  position: absolute; 
  /* define as coordenadas dele como absolutas para o container */
  top: 209px;
  right: 162px;
  z-index: -1;
}

.qualidade img{
  margin: 0 auto;
  display: block;
}

.qualidade-lista{
  padding-top: 20px;
}

.qualidade-lista li{
  text-align: center;
  padding: 0 40px;
}

.qualidade-lista li h3{
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.qualidade-lista li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 6px auto;
}

/* FOOTER ----------------------------------------------------- */

.quebra{
  width: 100%;
  height: 220px;
  background: url('../img/bg-footer.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo{
  max-width: 400px;
}

.footer{
  width: 100%;
  background: black;
  color: white;
  padding: 20px 0;
}

.footer h3{
  padding: 20px 0;
  color: #fec63e;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.footer h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px 0;
}

.footer-historia{
  padding-right: 100px;
}

.footer-contato ul li{
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-redes ul li{
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a{
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.footer-redes ul li a:hover{
  border: 3px solid white;
}

.copyright{
  width: 100%;
  padding: 20px 0;
  background: #fec63e;
}